.reg-page{
  border: 1px solid #fff;
    width: 45%;
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
  }
  
  .forms{
    display: flex;
    background-color: #154360;
    background-size: cover;
    height: 100%;
  }