<div>
    <mat-toolbar style="background-color:#FFDB58;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>supervised_user_circle</mat-icon>
        </button>
        <span routerLink="/" style="color: #154360;font-weight: bold;">OLX SPAM</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>
    <div class="cont">
            <div style="padding-top: 70px;padding-left: 20px;"> 
            <h1 style="text-align: left;font-weight: bold;padding-top: 50px;color: #f44336 ;">Thank You For Shopping With Us ☺</h1>
            <p style="text-align: left;">Your Product will be delivered as early as possible</p>
            <button routerLink="/main" mat-raised-button color="warn" style="margin-right: 290px;">Shop More</button>
        </div>
    </div>
  
