<app-header [totalCartData]="cartLength"></app-header>
<div class="container" style="display: flex;background-color: #154360;height: 88.5%;"  >
   <div style="margin-top: 57px;margin-left: 50px;">
        <img src="{{productData?.imageUrl}}" alt="image" class="image">
    </div>
    <div style="margin-top: 70px;margin-left: 90px;">
        <h1  class="productName">{{productData?.productName}}</h1>
        <h2  class="company">{{productData?.brandName}}</h2>
        <p class="productText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel dolorum ex odit voluptatem labore sed ab nostrum libero? Quod reiciendis tenetur doloribus vitae rem ipsa aliquid, est cupiditate minus itaque?</p>
        <h2  class="price">{{productData?.price | currency:'INR' }} </h2>
        <div class="quantity">
        <h5 class="quantity">quantity:</h5>
        <button color="black" (click)="quantity('min')" style="cursor: pointer;color: white;" class="quantityIn">-</button>
        <input class="inputbox" text="text" disabled value="{{productQuantity}}"   class="quantityText">
        <button class="btn btn-dark" (click)="quantity('max')" style="cursor: pointer;color: white;" class="quantityIn">+</button>
        </div>
        <button mat-raised-button color="warn" (click)="cartData(productQuantity)" class="addToCart">Add to cart</button>
    </div> 
</div>