<div>
    <mat-toolbar style="background-color:#FFDB58;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>supervised_user_circle</mat-icon>
          </button>
          <span routerLink="/" style="color: #154360;font-weight: bold;">OLX SPAM</span>
          <span class="example-spacer"></span>
            <mat-icon style="padding-right: 15px; cursor: pointer;" routerLink="/main" >home</mat-icon>
        </mat-toolbar>
</div>
<div class="container" style="text-align: center;">
        <div style="display: flex;margin-top: 50px;">
            <div style="border: 1px solid #004b8e;margin-top: 50px;margin-left: 45px;border-radius: 25px;">
                <h1 style="color:#004b8e;font-size: 60px;margin-top: 40px;">Contact Us</h1>
                <div style="margin-top: 30px;display: flex;margin: 10px;padding-top: 50px;">
                   <div style="margin: 20px;">
                    <mat-icon> place</mat-icon>
                    <p style="color: #e28743;">Maniii Technologies</p>
                    <p> © 2023 All Rights Reserved.</p>
                   </div>
                    <div style="margin: 20px;">
                        <mat-icon> call</mat-icon>
                        <p>ph:+91 9676176763</p>
                        <p>landline:+44 20 7123 4567</p>
                        
                    </div>
                    <div style="margin: 30px;">
                        <mat-icon> email</mat-icon>
                        <p>maniii@gmail.com</p>
                    </div>
                </div>
            </div>
            <div style="text-align: center;justify-content: center;">
                <img src="../../assets/login-img.png" alt="" style="height: 290px;margin-left: 100px;margin-top: 60px;">
            </div>
        </div>
</div>
